.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: 'Serif', serif;
  font-size: 8rem;
  color: rgb(226, 242, 7);
}

p {
  font-size: 2rem;
  color: #d6e1de;
  font-family: 'Serif', serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Serif', serif;
  font-size: 100px;

}

button{
  color: black;
  block-size: auto;
  text-decoration: double;
  
}
